class: state.Item

id:
alias:
short:
long:
action:
type:
effects:
wear:
weight:
cost:
rent:
look:
affects:
value1:
value2:
value3:
value4:

class: state.Prop
alias: 
short:
look:
