id: 1
name: Northern Bal Main City
short: Northern Bal Main City
long: Northern Bal Main City
lifespan: 300 // seconds?
reset: NEVER
mobInRoom: snake-001 R-003-001
mobInRoom: snakehunter-001 R-003-001
give: sword-001 
itemInRoom: sword R-003-002
itemInRoom: bag R-003-002
put: coins